<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Solve This Expression</h1>
      </ion-header-bar>
      <ion-content>
          <div ng-controller="expression">
             <div class="field">
                {{ expression }}
             </div>
            <button class="button" ng-click="selectOption(0)">{{ options[0] }}</button>
            <button class="button" ng-click="selectOption(1)">{{ options[1] }}</button>
            <button class="button" ng-click="selectOption(2)">{{ options[2] }}</button>
            <button class="button" ng-click="selectOption(3)">{{ options[3] }}</button>
            <button class="button" ng-click="selectOption(4)">{{ options[4] }}</button>
            <div id="divXp">
                XP: {{ xp }}
            </div>
            <div>
                <img id="imgRight" src="img/right.png" class="hidden" />
                <img id="imgWrong" src="img/wrong.png" class="hidden"/>
            </div>
            <div id="divRightAnswer">{{ rightanswer }}.</div>
            <div class="hidden>"{{ result }}</div>
         </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
